body {
    text-align: center;
    background-color: lightcoral; /* Add your desired background color here */
}

h1 {
    font-size: 24px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}
